doctype html
div
  div.modal-header
    h3(ms-text='title')
  div.modal-body
    div.portlet-body.form
      div.alert.alert-block.alert-error.fade.in
        h4.alert-heading(ms-text='lang.heading')
        p(ms-text='message')
      form.form-horizontal(action="javascript:;")
        div.control-group
          label.control-label(ms-text="lang.label_res")
          div.controls
            select.chosen(multiple="multiple",tabindex="-1",ms-each-e="res")
              option(ms-text="e",ms-value="e",selected)
  div.modal-footer
    button.btn.green(type="button",ms-click="submit")
      i.icon-ok
      | {{lang.btn_reboot}}
