doctype html
div.container-fluid
  h3.page-title(ms-html="lang.title")
  div.row-fluid
    form
      div.row-fluid
        div.span7
          div.portlet
            div.portlet-title
              div.caption
                div.control-group.quickmode
                  label.control-label(ms-text="lang.raid")
                  div.controls
                    div.input-icon.left
                      i.icon-tasks
                      input.m-wrap.tooltips(name="raid",type="text",data-trigger="hover",
                          ms-data-original-title="lang.raid_input_tip",ms-duplex="raid_name")
              div.tools
                a.expand(href="javascript:;")
            div.portlet-body(style="display:none;")
              div#dsuui.row-fluid
      div.row-fluid
        div.span12
          div.control-group.quickmode
            label.control-label(ms-text="lang.volume")
            div.controls
              div.input-icon.left
                i.icon-list-alt
                input.m-wrap.tooltips(name="volume",type="text",data-trigger="hover",
                    ms-data-original-title="lang.volume_input_tip",ms-duplex="volume_name")
      div.row-fluid(ms-visible="!enable_fs")
        div.span7
          div.portlet
            div.portlet-title
              div.caption
                div.control-group.quickmode
                  label.control-label(ms-text="lang.initr")
                  div.controls
                    div.input-icon.left
                      i.icon-sitemap
                      input.m-wrap.tooltips(name="wwn",type="text",data-trigger="hover",
                          ms-data-original-title="lang.initr_input_tip",ms-duplex="initr_wwn")
              div.tools
                a.expand(href="javascript:;")
            div.portlet-body(style="display:none;")
              div.control-group.quickmode
                label.control-label(ms-text="lang.enable_iscsi")
                div.controls
                  div.basic-toggle-button.toggle-button
                    input#enable-iscsi(type="checkbox",checked)
      div.row-fluid(ms-visible="enable_fs")
        div.span12
          div.control-group.quickmode
            label.control-label(ms-text="lang.create_files")
            div.controls
              div.basic-toggle-button.toggle-button
                input#create-files(type="checkbox",checked)
      div.row-fluid(ms-visible="show_fs")
        div.span12
          div.control-group.quickmode
            label.control-label(ms-text="lang.enable_fs")
            div.controls
              div.basic-toggle-button.toggle-button
                input#enable-fs(type="checkbox")
      div.row-fluid
        div.span7
          button.btn.green(type="button",style="margin-top: 10px;",ms-click="submit")
            i.icon-ok.m-icon-white(ms-text="lang.create_btn")
