doctype html
div.control-group(ms-class="quickmode:on_quickmode", ms-visible="data_enabled")
  label.control-label(ms-text="lang.label_raid_disks")
  div.controls
    div.row-fluid
      div.tabbable.tabbable-custom
        ul.nav.nav-tabs(ms-each-dsu="data_dsus")
          li(ms-class="active:$index===active_index")
            a(ms-attr-href="#{{dsu.tabid}}",data-toggle="tab")
              label.checkbox.dsu_tab_checkbox
                input(type="checkbox",ms-click="dsu_checkbox_click",ms-data-tabid="dsu.tabid",ms-duplex-radio="dsu.checked")
                | {{dsu.location}}
                span.badge.badge-success(ms-text="dsu.count",ms-visible="dsu.count>0")
        div.tab-content(style="width:370px;",ms-each-dsu="data_dsus",ms-click="disk_checkbox_click")
          div.tab-pane(ms-attr-id="{{dsu.tabid}}",ms-class="active:$index===active_index")
            div.disk-checkbox-col(ms-repeat-col="dsu.disks")
              label.checkbox.tooltips(ms-repeat-disk="col",ms-class="disk_offline:disk.offline",ms-title="disk_list(disk)",data-placement="right",data-html="true")
                input(type="checkbox",name="raid-disks-checkbox",ms-data-location="disk.location",ms-disabled="!disk.avail",ms-duplex-radio="disk.checked",data-dsutype="data",ms-title="disk.location")
                | {{disk.location}}
div.control-group(ms-class="quickmode:on_quickmode", ms-visible="spare_enabled")
  label.control-label(ms-text="lang.label_spare_disks")
  div.controls
    div.row-fluid
      div.tabbable.tabbable-custom
        ul.nav.nav-tabs(ms-each-dsu="spare_dsus")
          li(ms-class="active:$index===active_index")
            a(ms-attr-href="#{{dsu.tabid}}",data-toggle="tab")
              | {{dsu.location}}
              span.badge.badge-success(ms-text="dsu.count",ms-visible="dsu.count>0")
        div.tab-content(style="width:370px;",ms-each-dsu="spare_dsus",ms-click="disk_checkbox_click")
          div.tab-pane(ms-attr-id="{{dsu.tabid}}",ms-class="active:$index===active_index")
            div.disk-checkbox-col(ms-repeat-col="dsu.disks")
              label.checkbox.tooltips(ms-repeat-disk="col",ms-class="disk_offline:disk.offline",ms-title="disk_list(disk)",data-placement="right",data-html="true")
                input(type="checkbox",name="spare-disks-checkbox",ms-data-location="disk.location",ms-disabled="!disk.avail",ms-duplex-radio="disk.checked",data-dsutype="spare")
                | {{disk.location}}
