doctype html
div
  div.modal-header
    button.close(type="button",data-dismiss="modal",aria-hidden="true")
    h3(ms-text="lang.title")
  div.modal-body
    form.filesystems.form-horizontal(action="javascript:;")
      div.row-fluid
        div.control-group
          label.control-label(ms-text="lang.filesystems")
          div#filesystems.controls(ms-each-e="filesystems")
            div
              label.checkbox(style="margin-right: 5px !important;margin-top: 5px;float:left;")
                div.checker
                  span(ms-class="checked: e.checked")
                    input(name="fs-checkbox",type="checkbox",style="opacity: 0;",ms-duplex-radio="e.checked")
              label(style="margin-top: 5px;float:left;",ms-text="e.fsname")
              div.clearfix(style="margin-top:5px;")
  div.modal-footer
    button.btn(type="button",data-dismiss="modal")
      i.icon-undo
      | {{lang.btn_cancel}}
    button.btn.green(type="button",ms-click="submit")
      i.icon-ok
      | {{lang.btn_confirm}}
