doctype html
ul.nav.navbar.pull-right
  li.dropdown(ms-click="slient",ms-visible="true")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      span.label.label-slient
        | 静音
  li.dropdown(ms-click="refresh")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      span.label.label-default
        | 刷新
  li.dropdown(ms-click="broadcast")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      span.label.label-info
        | 搜寻
  li.dropdown(ms-click="add_machine")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      span.label.label-warning
        | 添加
  li.dropdown(style="margin: 3px;")
  li(ms-click="mini_window")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      i.icon-minus
  li(ms-click="resize_window")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      i(ms-class="icon-resize-full:!fullscreen",ms-class-1="icon-resize-small:fullscreen")
  li(ms-click="close_window")
    a.frameless-header.dropdown-toggle(href="javascript:;")
      i.icon-remove
